html {
  scroll-behavior: smooth;
}

.home-section,
.about-section,
.contact-section {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif,
    sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 20px;
  transform: translateY(-50px);
}

.title {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  padding: 0 30px;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000000;
  z-index: 1000;
}
.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #bebbbb;
}

.button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.button:hover {
  background-color: #bebbbb;
  color: #000000;
}

.backgraund-img {
  z-index: 1;
  position: absolute;
}

/* HOME */
.home-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 10px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 20px;
}

.subtitle {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  font-weight: lighter;
}

.name {
  font-size: 30px;
  font-weight: 400;
}

.main-title {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  margin: 0;
}

.description {
  color: #000000;
  font-weight: bold;
  padding: 6px;
  border: 1px solid #424141;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}

.box {
  display: flex;
  gap: 25px;
  align-items: center;
}

.status {
  color: #000000;
  border: 2px solid #424141;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 5px;
}

.home-btn {
  border: 1px solid #ffffff;
  color: #5b00ff;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 0px 0px 5px #5b00ff;
}

.home-btn:hover {
  background: #6c01f747;
  color: #ffffff;
}

.icons {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.icons a {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.icons a:hover {
  color: #bebbbb;
  transform: scale(1.15);
}

.robot-3d {
  width: 60%;
  height: 600px;
  position: relative;

  transform: translateY(-90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-3d spline-viewer {
  width: 750px;
  height: 750px;
  position: relative;
  z-index: 2;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.abutu-content {
  width: 50%;
  padding-left: 50px;
}

.about-title {
  color: #ffffff;
}

.about-main-title {
  color: #ffffff;
}

.about-description {
  color: #ffffff;
}

.skills {
  width: fit-content;
  color: #000000;
  border: 1px solid #bebbbb;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 5px;
}

/* STATUS */
.stats {
  display: flex;
  gap: 35px;
  margin-top: 30px;
}

.stat {
  padding-right: 35px;
  border-right: 1px solid #424141;
}

.stat:last-child {
  border-right: none;
}

.stat span {
  color: #6c01ff;
  font-size: 28px;
  font-weight: bold;
}

.stat p {
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}

.stat small {
  color: #8b8b8b;
}

.logo-3d {
  display: flex;
  gap: 30px;
}

.logo-3d img {
  width: 50px;
  height: 50px;
}

.about-robo-3d {
  width: 50%;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-robo-3d spline-viewer {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 2;
}

.about-backgraund {
  position: absolute;
  width: 450px;
  z-index: 1;
}
